<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4" style="text-align: center;">Bem-Vindo a sua pagina Principal!</h1>
    <p class="lead" style="text-align: center;">Este é um aplicativo para organização pessoal, feito em JavaScript,
        Handlebars, Css, Express e Node.Js!.</p>
    <hr class="my-4">
    <br>
    <h4 style="text-align: center;">Escolha a seguir a aba que deseja se redirecionar.</h4>
    <br>
    <hr>
</div>



<div style="display: flex; margin-left: 15px; gap: 38px;">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../img/incompletas.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Tarefas em Andamento</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="/usuarios/tarefas" class="btn btn-primary" style="width: 150px ;margin-left: 20%;">Tarefas</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../img/completasini.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Tarefa Completas</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="/usuarios/concluidas" class="btn btn-primary "
                style="width: 150px ;margin-left: 20%;">Completas</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../img/tarefas.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Criar Tarefa</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="/usuarios/nova" class="btn btn-primary" style="width: 150px ;margin-left: 20%;">Criar</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../img/excluir.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title" style="text-align: center;">Deletar Tarefa</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="/usuarios/deletar" class="btn btn-primary" style="width: 150px ;margin-left: 20%;">Excluir</a>
        </div>
    </div>
</div>