<div class="card">
    <div class="card-body">
        <form action="/registrob" method="post">
            <label for="nome">Nome: </label>
            <input type="text" name="nome" class="form-control" placeholder="Alexandre123">
            <label for="senha">Senha: </label>
            <input type="password" name="senha" class="form-control" placeholder="**********">
            <label for="senha2">Senha: </label>
            <input type="password" name="senha2" class="form-control" placeholder="**********">
            <button type="submite" class="btn btn-success mt-4" style="margin-left: 88%; width: 150px;">Criar</button>
        </form>
    </div>
</div>